# numpy v1.23.4 required for whisper
numpy==1.23.4
tqdm
more-itertools
transformers==4.28.1
ffmpeg-python==0.2.0
click>=8.1.3
PyAudio==0.2.13
PyAudioWPatch==0.2.12.5
SpeechRecognition==3.10.0
pydub>=0.25.1
git+https://github.com/openai/whisper.git
--extra-index-url https://download.pytorch.org/whl/cu117
torch==1.13.1+cu117
torchaudio==0.13.1+cu117
soundfile==0.12.1
python-osc>=1.8.0
websockets>=10.4
unidecode>=1.3.6
pykakasi>=2.2.1
ctranslate2==3.11.0
sentencepiece==0.1.98
protobuf==4.22.3
progressbar2
fasttext-wheel
best-download
# pywin32 required for easyOCR
pywin32
easyocr==1.6.2
mss==7.0.1
scipy==1.10.1
num2words==0.5.12
onnxruntime
requests
# downgradea of scikit-image to v1.23.4 to prevent https://github.com/scikit-image/scikit-image/issues/6784
scikit-image==v0.19.3

omegaconf>=2.0.6
PyYAML>=6.0
winsdk>=1.0.0b9

#faster-whisper @ https://github.com/guillaumekln/faster-whisper/archive/refs/tags/v0.3.0.zip
faster-whisper @ https://github.com/guillaumekln/faster-whisper/archive/refs/heads/master.zip
