#https://download.pytorch.org/whl/rocm5.2
#--extra-index-url https://download.pytorch.org/whl/nightly
#torch==2.2.0.dev20231120+rocm5.7
#torchaudio==2.2.0.dev20231120+rocm5.7
#torchvision==0.17.0.dev20231120+rocm5.7
--extra-index-url https://download.pytorch.org/whl/nightly/cpu
torch==2.6.0.dev20250104+cpu
torchvision==0.21.0.dev20250104+cpu
torchaudio==2.6.0.dev20250104+cpu
