version: ###VERSION###
locationUrls:
    EU:
        - https://eu2.contabostorage.com/bf1a89517e2643359087e5d8219c0c67:projects/whispering/whispering-tiger###VERSION###_win.zip
    US:
        - https://usc1.contabostorage.com/8fcf133c506f4e688c7ab9ad537b5c18:projects/whispering/whispering-tiger###VERSION###_win.zip
SHA256: '?'
