body {
  /*background: #000e29;*/
  background: transparent;
  overflow-x: hidden;
}

body select {
  max-width: 13rem;
}
body textarea {
  min-height: 5rem;
}

body label.setting-textarea {
  position: relative;
  display: inline-flex;
  white-space: nowrap;
}
body label.setting-textarea textarea {
  display: inline-flex;
  min-height: 1rem;

  font-size: 0.9em;
  line-height: 1em;
}

body button[disabled], body select[disabled] {
  cursor: not-allowed;
}
body label.disabled {
  color: #999;
  cursor: not-allowed;
}

body.bottom-align {
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

body.noscroll {
  overflow-y: hidden;
}

body.mirror {
  transform: scaleX(-1);
}

.hidden {
  display: none;
}

.transcript {
  overflow: hidden;
  position: relative;
  font-size: 22pt;
  line-height: 30pt;
  font-weight: 400;
  animation: appear-box-animation 2s cubic-bezier(0.16, 1, 0.3, 1) 0s 1 forwards;
}

.transcript.hide-transcript {
  animation: disappear-animation 1s cubic-bezier(0.16, 1, 0.3, 1) 0s 1 forwards;
}

.transcript sup {
  font-size: 0.45em;
}

.transcript sup.mainsup {
  position: absolute;
  top: 7px;
  left: 2px;
}

.alert>.start-icon {
  margin-right: 0;
  min-width: 20px;
  text-align: center;
}

.alert>.start-icon {
  margin-right: 5px;
}

.greencross {
  font-size: 18px;
  color: #25ff0b;
  text-shadow: none;
}

.alert-simple.alert-success {
  border: 1px solid rgba(36, 241, 6, 0.46);
  background-color: rgba(7, 149, 66, 0.12156862745098039);
  box-shadow: 0px 0px 2px #259c08;
  color: #0ad406;
  /*text-shadow: 2px 1px #00040a;*/
  transition: 0.5s;
  cursor: pointer;
}

.alert-success:hover {
  background-color: rgba(7, 149, 66, 0.35);
  transition: 0.5s;
}

.alert-simple.alert-info {
  border: 1px solid rgba(6, 44, 241, 0.46);
  /*background-color: rgba(7, 73, 149, 0.12156862745098039);*/
  background-color: rgba(7, 73, 149, 0.85);
  box-shadow: 0px 0px 2px #0396ff;
  color: #70c4ff;
  /*text-shadow: 2px 1px #00040a;*/
  transition: 0.5s;
  cursor: pointer;
}

.alert-info:hover {
  background-color: rgba(7, 73, 149, 0.35);
  transition: 0.5s;
}

.blue-cross {
  font-size: 18px;
  color: #0bd2ff;
  text-shadow: none;
}

.alert-simple.alert-warning {
  border: 1px solid rgba(241, 142, 6, 0.81);
  background-color: rgb(227, 176, 104);
  box-shadow: 0px 0px 2px #ffb103;
  color: #352500;
  /*text-shadow: 2px 1px #00040a;*/
  transition: 0.5s;
  cursor: pointer;
}

.alert-warning:hover {
  background-color: rgba(220, 128, 1, 0.33);
  transition: 0.5s;
}

.warning {
  font-size: 18px;
  color: #ffb40b;
  text-shadow: none;
}

.alert-simple.alert-danger {
  border: 1px solid rgba(241, 6, 6, 0.81);
  background-color: rgba(220, 17, 1, 0.16);
  box-shadow: 0px 0px 2px #ff0303;
  color: #4c0000;
  /*text-shadow: 2px 1px #00040a;*/
  transition: 0.5s;
  cursor: pointer;
}

.alert-danger:hover {
  background-color: rgba(220, 17, 1, 0.33);
  transition: 0.5s;
}

.danger {
  font-size: 18px;
  color: #ff0303;
  text-shadow: none;
}

.alert-simple.alert-primary {
  border: 1px solid rgba(6, 241, 226, 0.81);
  /*background-color: rgba(1, 204, 220, 0.16);*/
  background-color: rgba(1, 204, 220, 0.95);
  box-shadow: 0px 0px 2px #03fff5;
  /*color: #03d0ff;*/
  color: #006a81;
  /*text-shadow: 2px 1px #00040a;*/
  transition: 0.5s;
  cursor: pointer;
}

.alert-primary:hover {
  background-color: rgba(1, 204, 220, 0.33);
  transition: 0.5s;
}

.alertprimary {
  font-size: 18px;
  color: #03d0ff;
  text-shadow: none;
}

.square_box {
  position: absolute;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top-left-radius: 45px;
  opacity: 0.302;
}

.square_box.box_three {
  background-image: -moz-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
  background-image: -webkit-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
  background-image: -ms-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
  opacity: 0.059;
  left: -80px;
  top: -60px;
  width: 500px;
  height: 500px;
  border-radius: 45px;
}

.square_box.box_four {
  background-image: -moz-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
  background-image: -webkit-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
  background-image: -ms-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
  opacity: 0.059;
  left: 150px;
  top: -25px;
  width: 550px;
  height: 550px;
  border-radius: 45px;
}

.alert:before {
  content: '';
  position: absolute;
  width: 0;
  height: calc(100% - 44px);
  border-left: 1px solid;
  border-right: 2px solid;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  height: 20px;
}

.fa-times {
  -webkit-animation: blink-1 2s infinite both;
  animation: blink-1 2s infinite both;
}


/**
 * ----------------------------------------
 * animation blink-1
 * ----------------------------------------
 */
@-webkit-keyframes blink-1 {

  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes blink-1 {

  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}


@keyframes appear-box-animation {
  0% {
    /*width: 5%;*/
    opacity: 0;
  }

  100% {
    /*width: 100%;*/
    opacity: 1;
  }
}

@keyframes disappear-animation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* loader animation */
#loader #live-data {
  position: absolute;
  color: white;
  white-space: normal;
  padding: 5px 5px;
  font-size: 1.3rem;
}
#loader .center {
  display: flex;
  justify-content: center;
  align-items: center;
  /*background: #000;*/
  background-color: rgba(7, 73, 149, 0.60);

  box-shadow: 0px 0px 2px #0396ff;

  white-space:nowrap;
  overflow:hidden;
  margin: 0 0.1vw;
  min-width: 250px;

  animation: appear-box-animation 1s cubic-bezier(0.16, 1, 0.3, 1) 0s 1 forwards;
  position: relative;
}
#loader .wave {
  width: 5px;
  height: 54px;
  background: linear-gradient(45deg, cyan, #fff);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;

  opacity: 0.2;
}
#loader .wave:nth-child(2) {
  animation-delay: 0.1s;
}
#loader .wave:nth-child(3) {
  animation-delay: 0.2s;
}
#loader .wave:nth-child(4) {
  animation-delay: 0.3s;
}
#loader .wave:nth-child(5) {
  animation-delay: 0.4s;
}
#loader .wave:nth-child(6) {
  animation-delay: 0.5s;
}
#loader .wave:nth-child(7) {
  animation-delay: 0.6s;
}
#loader .wave:nth-child(8) {
  animation-delay: 0.7s;
}
#loader .wave:nth-child(9) {
  animation-delay: 0.8s;
}
#loader .wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
